*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins' serif;
}
nav{
  background: grey;
  margin: 0;
  padding: 0;
}
.links{
display: flex;
align-items: center;
justify-content: center;
}
.profile-pic{
  width: 5pc;
  height: 5pc;
  margin-top:2pc;
}
.hero{
  display: flex;
  margin-top: 2pc;
  text-align: center;
}